<!DOCTYPE html>
<html ng-app="TotebagApp">
<head>
    <meta charset="utf-8" />
    <title>Totebag - tašky</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <link href="gallery/photoswipe/photoswipe.css" rel="stylesheet" />
    <link href="gallery/photoswipe/default-skin/default-skin.css" rel="stylesheet" />
    <link href="gallery/photogallery.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>

    <link href="site.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Great+Vibes&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="TotebagController as totebag">
    <header>
        <img src="./content/hlavička.jpg" />
    </header>
    <div class="container-fluid">
        <menu>
            <div class="col-xs-6 col-sm-offset-0 col-lg-4 col-lg-offset-1">
                <ul class="nav nav-pills">
                    <li role="presentation" class="col-xs-12 col-sm-3"><a ng-click="totebag.GoToBags()">tašky</a></li>
                    <li role="presentation" class="col-xs-12 col-sm-3"><a ng-click="totebag.GoToPillows()">polštáře</a></li>
                    <li role="presentation" class="col-xs-12 col-sm-3"><a ng-click="totebag.GoToDecorations()">dekorace</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-sm-offset-0 col-lg-5 col-lg-offset-2">
                <ul class="nav nav-pills">
                    <li role="presentation" class="col-xs-12 col-sm-4"><a ng-click="totebag.GoToAboutUs()">o nás</a></li>
                    <li role="presentation" class="col-xs-12 col-sm-5"><a ng-click="totebag.GoToOurStory()">náš příběh</a></li>
                    <li role="presentation" class="col-xs-12 col-sm-2"><a ng-click="totebag.GoToContacts()">kontakty</a></li>
                </ul>
            </div>
        </menu>

        <article id="vyrobky">
            <div class="col-md-offset-1" ng-repeat="item in totebag.items">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 vyrobek" ng-click="totebag.GoToDetail(item)">
                    <img class="main-image" ng-src="{{item.mainImage.src}}" alt="{{item.title}}" />
                </div>
            </div>
            <div class="clearfix"></div>
        </article>

        <article id="vyrobek-detail">
            <div class="col-md-offset-1">
                <div class="row">
                    <h3 class="title">{{totebag.selectedItem.title}}</h3>

                    <div id="photo-gallery" class="gallery" data-pswp-uid="1">
                        <a class="main-image" href="{{totebag.selectedItem.mainImage.src}}" data-size="1600x1600">
                            <img ng-src="{{totebag.selectedItem.mainImage.src}}" alt="{{totebag.selectedItem.title}}" />
                        </a>
                        <a class="image-1" href="{{totebag.selectedItem.image1.src}}" data-size="1600x1068">
                            <img ng-src="{{totebag.selectedItem.image1.src}}" alt="{{totebag.selectedItem.title}}" />
                        </a>
                        <a class="image-2" href="{{totebag.selectedItem.image2.src}}" data-size="1600x1067">
                            <img ng-src="{{totebag.selectedItem.image2.src}}" alt="{{totebag.selectedItem.title}}" />
                        </a>
                        <a class="image-3" href="{{totebag.selectedItem.image3.src}}" data-size="1600x1067">
                            <img ng-src="{{totebag.selectedItem.image3.src}}" alt="{{totebag.selectedItem.title}}" />
                        </a>

                        <a class="image-4" href="{{totebag.selectedItem.image4.src}}" data-size="1600x1067">
                            <img ng-src="{{totebag.selectedItem.image4.src}}" alt="{{totebag.selectedItem.title}}" />
                        </a>
                    </div>

                    <p class="description">{{totebag.selectedItem.description}}</p>

                </div>
            </div>
        </article>

        <article id="o-nas">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4">
                <h1>
                    O nás:
                </h1>
                <p>
                    Dobrý den,

                    jmenuji se Helena a spolu s dcerami se ve volném čase věnujeme ručním pracím.

                    Každá věc, kterou zde nabízíme, je vyráběna s radostí a věříme, že radost udělá i tomu, kdo se rozhodne si ji od nás koupit.

                    Přeji příjemné chvilky strávené nad fotkami našich výtvorů.
                </p>
            </div>
            <div class="clearfix"></div>
        </article>

        <article id="nas-pribeh">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4">
                <h1>
                    Náš příběh:
                </h1>
                <p>
                    V červenci jsme oslavily naše páté narozeniny na Fleru. A zjistily jsme, že naše zákaznice neví, od koho nakupují a ke komu se vrací. Přitom máme vlastně dlouhou tradici...

                    Začít a skončit to celé mohlo již roku 1968. V Plzni tehdy novopečená maminka, moje babička, musela uskakovat s kočárem do příkopu před ruskými tanky.

                </p>
            </div>
            <div class="clearfix"></div>
        </article>

        <article id="kontakty">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4">
                <h1>
                    Kontakty:
                </h1>
                <p>
                    <ul>
                        <li>Email: <a href="hchytilova@seznam.cz" target="blank">hchytilova@seznam.cz</a></li>
                        <li>Mobil:  +420 604 992 215</li>
                        <li>Flér: <a href="http://www.fler.cz/totebag" target="blank">http://www.fler.cz/totebag</a></li>
                    </ul>
                </p>
            </div>
            <div class="clearfix"></div>
        </article>
    </div>

    <footer>
        <a href="http://www.fler.cz/totebag" target="blank">
            <img class="fler" src="http://www.fler.cz/ui/img/logo_fler_top_2015.svg" width="80" />
        </a>
        <a href="mailto:hchytilova@seznam.cz">hchytilova@seznam.cz</a>+420 604 992 215
    </footer>

    <!-- Full screen gallery -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="pswp__loading-indicator"><div class="pswp__loading-indicator__line"></div></div> -->
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip">
                        <!-- <a href="#" class="pswp__share--facebook"></a>
                        <a href="#" class="pswp__share--twitter"></a>
                        <a href="#" class="pswp__share--pinterest"></a>
                        <a href="#" download class="pswp__share--download"></a> -->
                    </div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="gallery/photoswipe/photoswipe.js" async="async"></script>
    <script src="gallery/photoswipe/photoswipe-ui-default.js" async="async"></script>
    <script src="gallery/photogallery.js" async="async"></script>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <!--<script src="site.js"></script>-->


    <script data-require="angular.js@1.2.x" src="http://code.angularjs.org/1.2.15/angular.js" data-semver="1.2.15"></script>
    <script src="products.js"></script>
    <script src="app.js"></script>
</body>
</html>
