body {
}

header {
    background: #5D403A;
    height: 180px;
}

    header img {
        height: 180px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

menu ul {
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
}

    menu ul li a {
        color: #5D403A;
    }

        menu ul li a:hover, menu ul li a:focus {
            color: #F33A03;
            background: none;
            background-color: white !important;
        }

.container-fluid {
    min-height: 600px;
}

.vyrobek {
    margin: 5px;
    border: solid #5D403A 1px;
    height: 210px;
    width: 210px;
    padding: 0;
}

    .vyrobek h3 {
        display: none;
    }

    .vyrobek img {
        height: 200px;
        width: 200px;
        margin: 5px;
    }

    .vyrobek .descrition {
        display: none;
    }


#vyrobek-detail {
    display: none;
}

    #vyrobek-detail .title {
        display: block;
    }

footer {
    width: 100%;
    height: 60px;
    background: #5D403A;
}


    footer img.fler {
        width: 80px;
        height: auto;
        margin: 5px 50px;
    }

    footer a {
        color: white;
        margin:150px;
        
    }

        footer a:hover {
            color: #fc5d2e;
        }