body {
}

header {
    background: #5D403A;
    height: 180px;
}

    header img {
        height: 180px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

menu ul {
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    margin-left: 0;
}

    menu ul li {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

        menu ul li a {
            color: #5D403A;
        }

            menu ul li a:hover, menu ul li a:focus {
                color: #F33A03;
                background: none;
                background-color: white !important;
            }

.container-fluid {
    min-height: 410px;
}

#vyrobky, #o-nas, #nas-pribeh, #kontakty {
    display: none;
}

.vyrobek {
    margin: 5px;
    border: solid #5D403A 1px;
    height: 210px;
    width: 210px;
    padding: 0;
}

    .vyrobek h3 {
        display: none;
    }

    .vyrobek img {
        height: 200px;
        width: 200px;
        margin: 5px;
    }

    .vyrobek .image-1, .image-2, .image-3, .image-4 {
        display: none;
    }

    .vyrobek .descrition {
        display: none;
    }


#vyrobek-detail {
    display: none;
    font-family: 'Great Vibes', cursive;
    color: #483f3d;
}

    #vyrobek-detail .title {
        /*display: block;*/
        font-size: 36px;
    }

    #vyrobek-detail .main-image {
        height: 500px;
        width: 500px;
    }

    #vyrobek-detail .image-1 img, .image-2 img, .image-3 img, .image-4 img {
        width: 171px;
        height: 116px;
    }

    #vyrobek-detail .descrition {
        font-size: 20px;
        font-family: 'Slabo 27px', serif;
    }

#photo-gallery {
    overflow: hidden;
}

footer {
    width: 100%;
    height: 68px;
    background: #5D403A;
    color: white;
    font-size: 14px;
    font-family: 'Slabo 27px', serif;
}

    footer img.fler {
        width: 80px;
        height: auto;
        margin: 5px 50px;
    }

    footer a {
        color: white;
        margin: 150px;
        font-size: 14px;
        font-family: 'Slabo 27px', serif;
    }

        footer a:hover {
            color: #fc5d2e;
        }
