body {
}

header {
    background: brown;
    height: 100px;
}

#logo {
    background: blue;
    height: 80px;
    width: 800px;
}

.vyrobek {
    background: lightgoldenrodyellow;
    height: auto;
    margin: 5px;
    height: 300px;
}

    .vyrobek h3 {
        font-size: 20px;
    }

    .vyrobek img {
        height: 200px;
        width: 100%;
    }

    .vyrobek .descrition {
        display: none;
    }


#vyrobek-detail {
    display: none;
}
